
    <% page.posts.sort('date', -1).each(post=> { %>
        <%- partial('partial/post_box', {post: post, bg_color: 'white' }) %>
            <% }); %>
                <div class="page_nav">
                    <%- paginator() %>
                </div>
