<% page.posts.each(post=> { %>
    <% if(post.pinned) { %>
        <%- partial('partial/post_box', {post: post, bg_color: 'white', pinned: true }) %>
    <% } %>
<% }); %>

<% page.posts.each(post=> { %>
    <% if(!post.pinned) { %>
        <%- partial('partial/post_box', {post: post, bg_color: 'white', pinned: false }) %>
    <% } %>
<% }); %>

<!-- pagination -->
<div class="page_nav">
    <%- paginator() %>
</div>
